/**, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/

body {
  min-height: 600px;
  min-width: 766px;
  color: #0c0c0d;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}


section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

label {
  display: inline-block;
  width: calc(25% - 3px);
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  border: 1px solid transparent;
}

label:before {
  font-weight: normal;
  margin-right: 10px;
}

label[for='tab-installed']:before { content: url('images/installed.svg'); }
label[for='tab-favorites']:before { content: url('images/favorites.svg'); }
label[for='tab-featured']:before { content: url('images/featured.svg'); }
label[for='tab-custom']:before { content: url('images/custom.svg'); }

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  border: 1px solid #ddd;
  border-top: 2px solid #0a84ff;
  border-bottom: 1px solid #fff;
}

#tab-installed:checked ~ #content-installed,
#tab-favorites:checked ~ #content-favorites,
#tab-featured:checked ~ #content-featured,
#tab-custom:checked ~ #content-custom {
  display: block;
}

section[id^=content] {
  padding: 2em;
}

section[id^=content] ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
}

section[id^=content] ul li {
  margin-bottom: 2em;
}

section[id^=content] ul li div {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0.3em;
}

section[id^=content] ul li div.entryHeader {
   display: flex;
  justify-content: space-between;
}

section[id^=content] ul li div img:hover {
  cursor: pointer;
}

section#content-installed ul li div span:not(.installed-enabled) {
  color: #b1b1b3;
}

.refresh {
  text-align: end;
  width: 712px;
  padding-bottom: 10px;
}

.hide {
  display: none;
}

#signInNote {
  font-size: 20px;
}

@keyframes refreshing_anim {
  0% {
    transform: rotate(0);
  }

  100%{
    transform: rotate(360deg);
  }
}

.refreshing {
  animation-name: refreshing_anim;
  animation-duration: 666ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.installImage {
  text-align: right;
}

.previewImage {
    border-radius: 4px;
}

.card {
  border-radius: 4px;
  background-color: #ededf0;
  padding: 16px;
}
